//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./includes/main.jade

block append scripts
	script(type="text/javascript", src="/lib/components/jsbarcode/JsBarcode.js")
	script(type="text/javascript", src="/lib/components/jsbarcode/EAN_UPC.js")
	script(type="text/javascript", src="/lib/components/jsbarcode/CODE128.js")
	script(type="text/javascript", src="/lib/components/bower-pdfkit/pdfkit-0.7.0.js")
	script(type="text/javascript", src="/lib/components/bower-pdfkit/blob-stream-v0.1.2.js")
	script(type = "text/javascript" src="/js/admin/barcode.controller.js")
	script(type="text/javascript", src="/lib/components/underscore/underscore-min.js")

block prepend variables
	//- these variable will normally be overridden by subpages
	- title = "Barcodes"
	- subtitle = "Generated stickers"
	- breadcrumb = [{name:"Barcodes"}]

	//- notifications and user will normally come from the app-routes context
	- notifications = notifications || []

block content
	div(ng-controller="BarcodeController as barcode")
	.row
		.col-md-12
			h1 Ticket barcodes
			//- svg#barcode
			//- br
			//- canvas#barcode2
			//- br
			//- img#barcode3
			//- br
			//- svg#barcode4
			iframe#pdf(style="width:100%; height:500px;")