
extends ./includes/main.jade

block prepend variables
	//- these variable will normally be overridden by subpages
	- title = "Dashboard"
	- subtitle = "Control Panel"
	- breadcrumb = [{name:"Dashboard"}]

	//- notifications and user will normally come from the app-routes context
	- notifications = notifications || []

block content
	.row
		.col-md-12
			h1 Cool event stats could go here