//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./includes/main.jade

block prepend variables
	//- these variable will normally be overridden by subpages
	- title = "Reports"
	- subtitle = "View Data"
	- breadcrumb = [{name:"Reports"}]

	//- notifications and user will normally come from the app-routes context
	- notifications = notifications || []

block content
	div(ng-controller="ReportController as r")
		.row
			.col-md-12
				h1 Reports
				.box
					.box-header
						h3.box-title {{r.t.tables.join(", ")}}
					.box-body
						row(ng-if="r.dataSize !== undefined && r.dataSize > 0")
							table.table.table-bordered.table-hover
								thead
									tr
										th(ng-repeat="c in r.t.cols") 
											{{c.Field}}
									tr
										th(ng-repeat="c in r.t.cols" style="text-align:right;") 
											button.btn.btn-default(ng-click="r.filter(c)") S
											button.btn.btn-default(ng-click="r.showJoin(c)") J
											button.btn.btn-default(ng-click="r.rmCol(c)") X
								tbody
									tr(ng-repeat="d in r.data")
										// TODO: Format the data according to c.Type
										td(ng-repeat="c in r.t.cols") {{d[r.fieldify(c)]}}	

						row(ng-if="r.dataSize !== undefined && r.dataSize > 0")
							.col-sm-5
								p Showing {{((r.pageNum-1) * r.t.pageSize)+1}} to {{ [(r.pageNum) * r.t.pageSize, r.dataSize] | min }} of {{r.dataSize}} entries.
							.col-sm-7
									pagination.pagination-sm(total-items="r.dataSize" items-per-page="r.t.pageSize" ng-model="r.pageNum" max-size="5" direction-links="false" boundary-links="true" ng-change="r.updateData()")

						row(ng-if="r.dataSize !== undefined && r.dataSize > 0")
							h4 Actions
							ul
								li(ng-click="r.alert('TODO')") 
									a(href="#") Remove tables
								li(ng-click="r.alert('TODO')") 
									a(href="#") Hide/Show Columns
								li(ng-click="r.saveTable()") 
									a(href="#") Pin Report To Dashboard
									|  << This one does something but not what you want
								li
									a(ng-click="r.getCSV()") Export Data
									|  << This one does the right thing
								li(ng-click="r.alert('TODO')") 
									a(href="#") Send bulk email

						row(ng-if="r.t.tables.length < 1")
							h3 Select a table to begin
							ul
								li(ng-repeat="t in r.tableNames")
									a(ng-click="r.init(t)") {{t}}
	

block append scripts
	script(type="text/javascript", src="/components/underscore/underscore-min.js")
	script(type = "text/javascript" src="/js/admin/report.controller.js")
	// templates
	script(type="text/ng-template" id="join.html")
		h2 Configure join for {{data.Field}}
		div.form-group
			label Table to join
			select.form-control(ng-model="table" ng-change="lookUpSchema(table)" ng-options="ta for ta in tables")
			label(ng-if="table!==undefined && schemata[table].length>0") Field to join
			select.form-control(ng-if="table!==undefined && schemata[table].length>0", ng-model="result.field", ng-options="col as col.Field for col in schemata[table]")
				//- option(ng-repeat="col in schemata[table]" ng-value="col") {{col.Field}}
			button.btn.btn-default(ng-click="ok()" ng-if="result.field!==undefined") Done