//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

block scripts
	// angular
	script(type="text/javascript" src="/lib/components/angular/angular.js")
	script(type="text/javascript" src="/lib/components/angular-cookies/angular-cookies.js")
	script(type="text/javascript" src="/lib/components/angular-resource/angular-resource.js")
	
	// bootstrap
	script(type="text/javascript" src="/lib/components/angular-bootstrap/ui-bootstrap.min.js")
	script(type="text/javascript", src="/lib/components/underscore/underscore.js")
	script(type="text/javascript" src="/lib/components/moment/moment.js")

	// shared
	script(type="text/javascript" src="/js/shared/mabel.shared.js")
	script(type="text/javascript" src="/js/shared/apicaller.factory.js")
	script(type="text/javascript" src="/js/shared/mabeltoken.factory.js")
	script(type="text/javascript" src="/js/shared/mabelresource.factory.js")
	script(type="text/javascript" src="/js/resources/user.js")

	// dash
	script(type="text/javascript" src="/js/dash/mabel.dash.js")
	script(type="text/javascript" src="/js/dash/dash.controller.js")

	// css
	link(rel="stylesheet", type="text/css", href="/css/main.css")

block title
	title Dashboard

block content
	div(ng-app="mabel.dash" ng-controller="DashController as dashCtrl" ng-view)
		
		h1.h1 Dashboard - {{ dashCtrl.user.name }}

		//- .panel.panel-info
		//- 	.panel-heading Available tickets
		//- 	.panel-body
		//- 		p(ng-if="dashCtrl.ticketsAvailableLoading") #[em Loading...]
		//- 		p(ng-if="!dashCtrl.ticketsAvailableLoading && (dashCtrl.ticketAccessList.length === 0 || dashCtrl.remainingAllowance===0)", style="font-style:italic;")
		//- 			| We couldn't find any tickets available to you.
		//- 		div(ng-if="(!dashCtrl.ticketsAvailableLoading) && dashCtrl.ticketAccessList.length > 0")
		//- 			p You may book up to #[strong {{ dashCtrl.remainingAllowance }}] more ticket{{dashCtrl.remainingAllowance===1?"":"s"}} of the following type{{dashCtrl.ticketAccessList.length>1?"s":""}}:
		//- 			ul
		//- 				li(ng-repeat="ticket in dashCtrl.ticketAccessList" ng-if="ticket.open_time*1000<dashCtrl.nowTime").
		//- 					You may currently book #[b {{ (ticket.allowance===null)?"unlimited":ticket.allowance }} {{ ticket.name }}] tickets until #[b {{ ticket.closing }}].
		//- 			ul
		//- 				li(ng-repeat="ticket in dashCtrl.ticketAccessList" ng-if="ticket.open_time*1000>dashCtrl.nowTime").
		//- 					You will be able to book #[b {{ (ticket.allowance===null)?"unlimited":ticket.allowance }} {{ ticket.name }}] tickets from #[b {{ ticket.opening }}] until #[b {{ ticket.closing }}].
		//- 			p If tickets are sold out you will automatically be added to the waiting list when you book.

		
		.row
			.col-xs-12
				p Welcome to insert text blah blah
			.col-xs-12.col-md-4.col-md-offset-4
				a.btn.btn-xlarge.btn-info(href="/book" style="width:100%;") Book tickets


		h2.h2 Your tickets

		p(ng-if="dashCtrl.ticketsBookedLoading") #[em Loading...]

		p(ng-if="!dashCtrl.ticketsBookedLoading && !(dashCtrl.ticketsBooked.length > 0)") 
			em You have not yet booked any tickets. Once you have booked tickets, you will be able to review your orders here.

		//- TODO: un hard-code date.
		p(ng-if="dashCtrl.ticketsBooked.length !== 0") Please ensure the names listed below are accurate. You may change the names until 31st May 2016.

		table(ng-if="dashCtrl.ticketsBooked.length !== 0").table.table-striped.table-hover
			thead
				tr
					th(colspan=2) Ticket number
					th Guest name
					th Payment method
					th Price
					th Status
					th 
			tbody
				tr(ng-repeat="ticket in dashCtrl.ticketsBooked")
					td # {{ ticket.id }}
					td #[em ({{ ticket.name }})]
					td
						input(type="text" ng-model="ticket.guest_name" tabindex="{{$index + 1}}" ng-change="dashCtrl.nameChange(ticket);" ng-focus="dashCtrl.clearStatus(ticket)")
					td {{ ticket.payment_method }}
					td(style="text-align:right") &pound;{{ ticket.transaction_value | number:2 }}
					td(class="{{ ticket.status }}") {{ ticket.status }}
					td(style="text-align:right")
						button.btn.btn-xs.btn-danger(ng-if="ticket.status=='PENDING'" tabindex="-1", ng-click="dashCtrl.cancelTicket(ticket)") x
						//- span.label.label-notifier(class="label-{{ticket.id}} label-{{ticket._status}}") .
			tfoot
				tr
					th(colspan=2)
					td
					td #[strong Total]
					td(style="text-align:right;")
						b &pound;{{ dashCtrl.totalValue | number:2 }}
					td
				tr
					th(colspan=2)
					td
					td Owe
					td(style="text-align:right;") &pound;{{ dashCtrl.pendingValue | number:2 }}
					td
		
		p Please allow #[strong up to two weeks] for the money you have paid to show on this page.

		h2.h2 Waiting List

		p(ng-if="dashCtrl.waitingListLoading") #[em Loading...]
		p(ng-if="!dashCtrl.transactionsLoading && !(dashCtrl.waitingListTickets.length > 0)") 
			em You are not currently in the waiting list for any tickets.
		table.table.table-striped.table-hover(ng-if="dashCtrl.waitingListTickets.length > 0")
			thead
				tr
					th Ticket Type
					th Payment Method
					th Price
					th 
			tbody
				tr(ng-repeat="ticket in dashCtrl.waitingListTickets")
					td {{ ticket.name }}
					td {{ ticket.payment_method }}
					td(style="text-align:right") &pound;{{ ticket.transaction_value | number:2 }}
					td(style="text-align:right")
						button.btn.btn-xs.btn-danger(tabindex="-1", ng-click="dashCtrl.cancelWaitingTicket(ticket)")  x
						//- span.label.label-notifier(class="label-{{ticket.id}} label-{{ticket._status}}") .
	