//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

append scripts
	//- meta(name="blitz" content="mu-b71b91c7-69521387-684f86b3-c1bbca15")
	script(type="text/javascript", src="/lib/components/angular-bootstrap/ui-bootstrap.min.js")

block title
	title Ticketing Home

block content
	h1.h1 Mabel Ticketing
	.row
		.col-xs-12.col-md-6
			h4.h4 Current students of the University
			p.
				If you are a #[strong current] student
				of the University of Cambridge, you
				may log in with Raven. Otherwise, please
				use the buttons on the right.
		.col-xs-12.col-md-6
			h4.h4 Alumni / members of staff / other
			p.
				If you are here for the first time, you'll need to register.
				Otherwise, you may log in.
	.row
		.col-xs-12.col-md-6
			a.btn.btn-info.index-btn(href="/login/raven") Log in with Raven
		.col-xs-12.col-md-6
			.row
				.col-xs-12.col-md-6
					a.btn.btn-default.index-btn(href="/register") Register
				.col-xs-12.col-md-6
					a.btn.btn-info.index-btn(href="/login/mabel") Log in
