//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

block scripts
	// bootstrap
	script(type="text/javascript", src="/components/angular-bootstrap/ui-bootstrap.min.js")
	link(rel="stylesheet", type="text/css", href="/css/bootstrap-flatly.min.css")
	link(rel="stylesheet", type="text/css", href="/css/main.min.css")

block title
	title Mabel Ticketing | #{title}

block content
	div.slide
			section.slide-content
				h1 #{title}
				.well
					p!= content
