//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

block scripts
	// angular
	script(type="text/javascript", src="/lib/components/angular/angular.js")
	script(type="text/javascript" src="/lib/components/angular-cookies/angular-cookies.js")
	// bootstrapping
	script(type="text/javascript" src="/js/mabel.js")

	// shared
	script(type="text/javascript" src="/js/shared/mabel.shared.js")
	script(type="text/javascript" src="/js/shared/mabeltoken.factory.js")
	
	// bootstrap
	//- script(type="text/javascript", src="/lib/components/angular-bootstrap/ui-bootstrap.min.js")
	link(rel="stylesheet", type="text/css", href="/css/main.css")

block title
	title mabel | Register

block content
	h1 Register
	.well
		p You need to register before you are able to purchase tickets. If you are a current student, you should #[a(href="/login/raven") log in with Raven] instead.
		if error
			div.alert.alert-dismissable.alert-danger
				strong Error: 
				| #{error}
		form.form-horizontal(method="POST")
			fieldset
				.form-group
					label.col-lg-2.control-label(for='inputName') Name
					.col-lg-10
						input#inputName.form-control(type='text', name="name", value=name, placeholder='Name')
				.form-group
					label.col-lg-2.control-label(for='inputEmail') Email
					.col-lg-10
						input#inputEmail.form-control(type='email', name="email", value=email, placeholder='Email')
				.form-group
					label.col-lg-2.control-label(for='inputPassword') Password
					.col-lg-10
						input#inputPassword.form-control(type='password', name="password", placeholder='Password')
				.form-group.spacer
					.col-lg-10
						button.btn.btn-primary(type='submit' style="width:100%;") Submit
