//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

block scripts
	// angular
	script(type="text/javascript", src="/lib/components/angular/angular.js")
	script(type="text/javascript" src="/lib/components/angular-cookies/angular-cookies.js")
	// bootstrapping
	script(type="text/javascript" src="/js/mabel.js")

	// shared
	script(type="text/javascript" src="/js/shared/mabel.shared.js")
	script(type="text/javascript" src="/js/shared/mabeltoken.factory.js")
	
	// bootstrap
	script(type="text/javascript", src="/lib/components/angular-bootstrap/ui-bootstrap.min.js")
	link(rel="stylesheet", type="text/css", href="/css/main.css")

block title
	title mabel | Register

block content
	h1.h1 Register
	.row
		.col-lg-8.col-lg-offset-2
			if error	
				div.alert.alert-danger
					strong Error: 
					| #{error}
			form.form-horizontal(method="POST")
				fieldset.well
					.form-group
						.col-lg-9.col-lg-offset-3
							p You'll need to register before you are able to purchase tickets. If you are a current student, you should #[a(href="/login/raven") log in with RavenLINKBROKENMERGETHISPAGE] instead (no need to register).
					.form-group
						label.col-lg-3.control-label(for='inputName') Name
						.col-lg-9
							input#inputName.form-control(type='text', name="name", value=name, placeholder='Name')
					.form-group
						label.col-lg-3.control-label(for='inputEmail') Email
						.col-lg-9
							input#inputEmail.form-control(type='email', name="email", value=email, placeholder='Email')
					.form-group
						label.col-lg-3.control-label(for='inputPassword') Password
						.col-lg-9
							input#inputPassword.form-control(type='password', name="password", placeholder='Password')
					.form-group.spacer
						.col-lg-9.col-lg-offset-3
							button.btn.btn-primary(type='submit' style="width:100%;") Submit
