//- Copyright (C) 2015  Mabel Ticketing
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

h1 Payment Processed

p Dear #{user.name},

p This email confirms that we have received payment for your ticket(s) to the Emmanuel College May Ball. We have received &pound;#{transaction.value}, paid by #{payment_method.name}.
p If there are any further payments pending, you will receive separate confirmation for these. You can check the status of your payments at any time by visiting
	a(href="http://tickets.emmamayball.com/dash") http://tickets.emmamayaball.com/dash
	| .

p Kind regards,
p Alethea Tan #[br] Treasurer, Emmanuel College May Ball 2017
