//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

h1 Ticketing Registration

p Dear #{name},

p 
 | Thank you for your registration. To activate your account, please click on
 | link below:

a(href=link) #{link}