extends ./admin/main.jade

block prepend variables
	// these variable will normally be overridden by subpages
	- title = "Dashboard"
	- subtitle = "Control Panel"
	- breadcrumb = [{name:"Dashboard"}]
	- sidebarItems = [{link:"#", name:title, icon:"dashboard", selected:true}, {link:"#", name:"Widgets", icon:"th"}]

	// notifications and user will normally come from the app-routes context
	- notifications = notifications || []

block content
	.row
		.col-md-6
			include admin/boxes/event-settings.jade
		.col-md-6
			include admin/boxes/user-detail.jade
	.row
		.col-md-12
			include admin/boxes/user-list.jade

block append scripts
	script(type = "text/javascript" src="/js/shared/usergroup.factory.js")
	script(type = "text/javascript" src="/js/admin/eventsettings.factory.js")
	script(type = "text/javascript" src="/js/admin/eventsettings.controller.js")
	script(type = "text/javascript" src="/js/admin/userdetail.controller.js")
	script(type = "text/javascript" src="/js/admin/userlist.controller.js")

block append css
	style.
		.form-group.has-info label {
			color: #00c0ef;
		}
		.form-group.has-info .form-control {
			border-color: #00c0ef !important;
			box-shadow: none;
		}
