extends ./admin/main.jade

block prepend variables
	- title = "Dashboard"
	- subtitle = "Control Panel"
	- user = {name:"Christopher Little"}
	- breadcrumb = [{name:"Dashboard"}]
	- sidebarItems = [{link:"#", name:title, icon:"dashboard", selected:true}, {link:"#", name:"Widgets", icon:"th"}]
	// notifications will normally come from the javascript context
	- notifications = notifications || []

block content
	.row(ng-app="mabel.admin")
		.col-md-12
			include admin/boxes/event-settings.jade

block append css
	style.
		.form-group.has-info label {
			color: #00c0ef;
		}
		.form-group.has-info .form-control {
			border-color: #00c0ef !important;
			box-shadow: none;
		}