extends ./main.jade

block title
	title Mabel Admin Panel
block script
	script(src="//code.jquery.com/jquery-1.11.0.min.js")
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
	script(src="/assets/js/adminPanel.js")


block content
	h1 Admin Panel