//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

doctype html
html
	head
		title api test
		//- include angular
		script(type="text/javascript" src="/components/angular/angular.js")
		script(type="text/javascript" src="/components/angular-cookies/angular-cookies.js")
		script(type="text/javascript").
			
			var test = angular.module('apitest', ['ngCookies']);
			test.controller('testController', function TestController($scope, apiCaller) {
				
				$scope.data = {};

				$scope.apiRequest = function apiRequest() {
					apiCaller.test(function(err, data) {
						if (!err) $scope.data = data;
					});
				};
			});
			test.factory('apiCaller', function ApiCaller($http, $cookies) {
				return {
					test: function test(callback) {
						var token = $cookies.mabelAuthToken;
						if (token) {
							$http.get('/api/test?access_token='+token)
								.success(function(data) {
									callback(null, data);
								})
								.error(function(err) {
									callback(err);
								});
						} else console.log("error: no auth token found");
					}
				};
			});

	body(ng-app="apitest", ng-controller="testController")
		button(ng-click="apiRequest()") Click me
		p Result: {{ data.user.id }}