extends ./main.jade

block scripts
	script(type="text/javascript" src="/components/angular/angular.js")
	script(type="text/javascript" src="/components/angular-cookies/angular-cookies.js")
	script(type="text/javascript").
		var book = angular.module('booking', ['ngCookies']);
		book.controller("bookingController", function BookingController($scope, apiCaller) {

			// stores page data
			$scope.data = {};
			$scope.booking = {
				tickets: [],
				donate: true
			};

			// method to poll api
			$scope.pollApi = function pollApi() {
				console.log("Polling @ " + (new Date()));
				apiCaller.poll(function(err, data) {
					if (err) console.log("there was an error"); //TODO: probably do more than this
					else{
						// stop polling if booking info returned
						if (data.status == 'booking') clearInterval(poller);
						console.log(data);
						$scope.data = data;
					}
				});
			};

			// set up polling at intervals
			var poller = setInterval($scope.pollApi(), 30000);

		});
		book.factory("apiCaller", function ApiCaller($http, $cookies) {
			return {
				poll: function poll(callback) {
					var token = $cookies.mabelAuthToken;
					if (token) {
						$http.get('/api/book?event_id=1&access_token='+token)
							.success(function(data) {
								callback(null, data);
							})
							.error(function(err) {
								callback(err);
							});
					} else console.log("error: no auth token found"); // TODO: deal with this better
				}
			};
		});



block title
	title(ng-if="data.status == queueing") Queueing...
	title(ng-if="data.status == booking") Book your tickets!

block content
	div(ng-app="booking", ng-controller="bookingController", ng-view)
		div(ng-switch="data.status")
			div(ng-switch-when="queueing")
				p queue information
			div(ng-switch-when="booking")
				form(ng-submit="")
					h1 Welcome {{ data.data.user.name }}, please select your tickets.
					p We recommend that you do this promptly to give you the best chance at nabbing tickets.
					table
						thead
							tr
								th Ticket types
								th Price
								th Qty.
						tbody(ng-repeat="ticket in data.data.availableTickets")
							tr
								td {{ ticket.name }}
								td £{{ ticket.price }}
								td
									select(name="")
										option(value="") 0
										option(value="") 1
										option(value="") 2
										option(value="") 3
										option(value="") 4
					h2 Charitable donation
					label
						p #[input(type="checkbox", name="", ng-model="booking.donate")] I wish to make a charitable donation of £X per ticket to your Charitable Causes.
					h2 Payment Method
					p Please choose a payment method from the options below.
					p(ng-repeat="method in data.data.payment_methods")
						label
							input(type="radio", name="payment_method")
							span #[b {{ method.name }}] - {{ method.description }}

					h2 Summary

					h3 Your tickets
					//- show table if some tickets selected, otherwise show nothing
					//- show totals
					//- show paymentmethod

					p #[input(type="submit", value="Confirm")]
//- TODO: make page placed in a form - use ng-model?
//- TODO: sum ticket price
//- TODO: display .00 on end of ticket prices
//- TODO: work out how to submit forms
//- TODO: need to find out maximum ticket quantity
//- TODO: this data.data. stuff doesn't look nice
//- TODO: charitable donation box
//- TODO: finish queue