//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

block title
	title Confirmation

block content
	h1 Order Confirmation
	h2 Your booking for X tickets was successful. Details below
	table
	p Information paragraph hereeee.....