extends ./main.jade

block scripts
	// angular
	script(type="text/javascript", src="/components/angular/angular.js")
	script(type="text/javascript", src="/components/angular-cookies/angular-cookies.js")
	script(type="text/javascript", src="/components/angular-resource/angular-resource.js")
	
	// bootstrap
	script(type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap.min.js")

	// shared
	script(type="text/javascript", src="/js/shared/mabel.shared.js")
	script(type="text/javascript", src="/js/shared/apicaller.factory.js")
	script(type="text/javascript", src="/js/shared/mabeltoken.factory.js")
	script(type="text/javascript", src="/js/shared/mabelresource.factory.js")
	script(type="text/javascript", src="/js/shared/user.factory.js")

	// dash
	script(type="text/javascript", src="/components/moment/moment.js")
	script(type="text/javascript", src="/js/dash/mabel.dash.js")
	script(type="text/javascript", src="/js/dash/dash.controller.js")

	// bootstrap
	link(rel="stylesheet", type="text/css", href="/css/bootstrap-flatly.min.css")
	link(rel="stylesheet", type="text/css", href="/css/main.css")


block title
	title Dashboard

block content
	div(ng-app="mabel.dash" ng-controller="DashController as dashCtrl" ng-view)
		.slide
			section.slide-content
				h1 Dashboard
				.panel.panel-info
					.panel-heading
						h4.panel-heading(style="margin:0px;padding:0px;") The tickets that will be available to you are as follows:
					.panel-body
						ul(ng-if="dashCtrl.ticketsAvailable.length != 0")
							li(ng-repeat="ticket in dashCtrl.ticketsAvailable") #[b {{ ticket.name }}] - &pound;{{ ticket.price | number:2 }}
						p(ng-if="dashCtrl.ticketsAvailable.length == 0", style="font-style:italic;") We couldn't find any tickets available to you.
						p If you think there is a problem with the available tickets listed above, please contact #[a(href="mailto:ticketing@emmamayball.com") ticketing@emmamayball.com].
				h2 Your tickets
				table.table.table-striped.table-hover(ng-if="dashCtrl.ticketsBooked != 0")
					thead
						tr
							th Ticket
							th Name
							th Delete
					tbody
						tr(ng-repeat="ticket in dashCtrl.ticketsBooked")
							td {{ ticket.name }}
							td
								input(type="text")
							td
								input(type="checkbox")
				p(ng-if="dashCtrl.ticketsBooked == 0") #[em You have not yet booked any tickets. Once you have booked tickets, you will be able to review your orders here.]

				div(ng-if="dashCtrl.transactions.length == 0")
					h2 Billing
					p #[em You have not made any bookings yet. #[a(href="/book") Click here to make one].]
				table.table.table-striped.table-hover(ng-if="dashCtrl.transactions.length != 0")
					thead
						tr
							th Date of booking
							th Payment method
					tbody
						tr(ng-repeat="transaction in dashCtrl.transactions")
							td {{ transaction.transaction_time }}
							td {{ transaction.payment_method_id }}
				hr
				p If you have any other queries regarding tickets, please contact #[a(href="mailto:ticketing@emmamayball.com") ticketing@emmamayball.com]. Please allow a few days before seeing cheques confirmed on this page.