extends ./main.jade

block scripts
	// angular
	script(type="text/javascript", src="/components/angular/angular.js")
	script(type="text/javascript", src="/components/angular-cookies/angular-cookies.js")
	script(type="text/javascript", src="/components/angular-resource/angular-resource.js")
	
	// bootstrap
	script(type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap.min.js")

	// shared
	script(type="text/javascript", src="/js/shared/mabel.shared.js")
	script(type="text/javascript", src="/js/shared/apicaller.factory.js")
	script(type="text/javascript", src="/js/shared/mabeltoken.factory.js")
	script(type="text/javascript", src="/js/shared/mabelresource.factory.js")
	script(type="text/javascript", src="/js/shared/user.factory.js")

	// dash
	script(type="text/javascript", src="/components/moment/moment.js")
	script(type="text/javascript", src="/js/dash/mabel.dash.js")
	script(type="text/javascript", src="/js/dash/dash.controller.js")

	// bootstrap
	link(rel="stylesheet", type="text/css", href="/css/bootstrap-flatly.min.css")
	link(rel="stylesheet", type="text/css", href="/css/main.css")
	style.
		.label-notifier {
			color: transparent!important;
			width: 1.5em;
			height: 1.5em;
			display: inline-block;
			border-radius: 2em;
			padding: 0;
			vertical-align: middle;
			margin-left: 5px;
		}

block title
	title Dashboard

block content
	div(ng-app="mabel.dash" ng-controller="DashController as dashCtrl" ng-view)
		.slide
			section.slide-content
				h1 Dashboard
				.panel.panel-info
					.panel-heading
						h4.panel-heading(style="margin:0px;padding:0px;") The following tickets are available for booking:
					.panel-body
						//- TODO:replace N
						p(ng-if="dashCtrl.ticketsAvailable.length != 0")
							| You will be able to purchase {{dashCtrl.ticketsAvailable[0].allowance}} more ticket{{dashCtrl.ticketsAvailable[0].allowance===1?"":"s"}}.
						ul
							li(ng-repeat="ticket in dashCtrl.ticketsAvailable") #[b {{ ticket.name }}] - &pound;{{ ticket.price | number:2 }}
						p(ng-if="dashCtrl.ticketsAvailable.length == 0", style="font-style:italic;") We couldn't find any tickets available to you.
						p If you think there is a problem with the available tickets listed above, please contact #[a(href="mailto:ticketing@emmamayball.com") ticketing@emmamayball.com].
				h2 Your tickets
				table.table.table-striped.table-hover(ng-if="dashCtrl.ticketsBooked.length !== 0")
					thead
						tr
							th(colspan=2) Ticket Number
							th Guest Name
							th Payment Method
							th Price
							th 
					tbody
						tr(ng-repeat="ticket in dashCtrl.ticketsBooked")
							td # {{ ticket.id }}
							td #[em ({{ ticket.name }})]
							td
								input(type="text" ng-model="ticket.guest_name" tabindex="{{$index + 1}}" ng-change="dashCtrl.clearStatus(ticket)")

							//- TODO: allow users to change payment method
							td {{ ticket.payment_method }}
							td &pound;{{ ticket.price | number:2 }}
							td(style="text-align:right")
								button.btn.btn-xs(ng-click="dashCtrl.saveTicket(ticket)") Save 
								button.btn.btn-xs.btn-danger(tabindex="-1", ng-click="dashCtrl.cancelTicket(ticket)")  Cancel Ticket
								span.label.label-notifier(class="label-{{ticket.id}} label-{{ticket._status}}") .
			
						tr(ng-if="dashCtrl.donationValue > 0")
							td(colspan=2) Donations
							td
							td
							td &pound;{{ dashCtrl.donationValue | number:2 }}
							td
					tfoot
						tr
							th(colspan=2) Total
							td
							td
							td
								b
									&pound;{{ dashCtrl.totalValue | number:2 }}
							td
				p(ng-if="dashCtrl.ticketsBooked.length === 0") 
					em You have not yet booked any tickets. Once you have booked tickets, you will be able to review your orders here. #[a(href="/book") Click here] to make a booking.

				h2 Waiting List
				table.table.table-striped.table-hover(ng-if="dashCtrl.waitingListTickets.length > 0")
					thead
						tr
							th Ticket Type
							th Payment Method
							th Price
							th 
					tbody
						tr(ng-repeat="ticket in dashCtrl.waitingListTickets")
							td {{ ticket.name }}
							//- TODO: allow users to change payment method
							td {{ ticket.payment_method }}
							td &pound;{{ ticket.price | number:2 }}
							td(style="text-align:right")
								button.btn.btn-xs.btn-danger(tabindex="-1", ng-click="dashCtrl.cancelWaitingTicket(ticket)")  Leave Waiting List
								span.label.label-notifier(class="label-{{ticket.id}} label-{{ticket._status}}") .

				p(ng-if="! (dashCtrl.waitingListTickets.length > 0)") 
					em You are not currently in the waiting list for any tickets.

				div(ng-if="dashCtrl.transactions.length == 0")
					h2 Billing
					p #[em We have not yet processed any transactions from you.]
				table.table.table-striped.table-hover(ng-if="dashCtrl.transactions.length != 0")
					thead
						tr
							th Date of booking
							th Payment method
					tbody
						tr(ng-repeat="transaction in dashCtrl.transactions")
							td {{ transaction.transaction_time }}
							td {{ transaction.payment_method_id }}
				hr
				p If you have any other queries regarding tickets, please contact #[a(href="mailto:ticketing@emmamayball.com") ticketing@emmamayball.com]. Please allow a few days before seeing cheques confirmed on this page.