//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

append scripts
	//- script(type="text/javascript", src="/components/jquery/dist/jquery.min.js")
	//- meta(name="blitz" content="mu-b71b91c7-69521387-684f86b3-c1bbca15")
	//- link(rel="stylesheet", type="text/css", href="/css/bootstrap-flatly.min.css")
	script(type="text/javascript", src="/lib/components/angular-bootstrap/ui-bootstrap.min.js")

block title
	title Ticketing Home

block content
	h1 Mabel Ticketing
	p
		| If you are a current student, please log in with Raven. If
		| not (e.g. Alumni of Emmanuel College), please login
		| with/register for a Ticketing Account.

	.row
		.col-xs-12.col-md-4(style="text-align: center;")
			a.btn.btn-primary(href="/login/raven") Login with #[br] Raven &raquo;
		.col-xs-12.col-md-4(style="text-align: center;")
			a.btn.btn-default(href="/register") Ticketing #[br] Registration &raquo;
		.col-xs-12.col-md-4(style="text-align: center;")
			a.btn.btn-default(href="/login/mabel") Ticketing #[br] Login &raquo;
