extends ./main.jade

block scripts
	script(type="text/javascript", src="/components/jquery/dist/jquery.min.js")
	script(type="text/javascript", src="/components/bootstrap/dist/js/bootstrap.min.js")
	link(rel="stylesheet", type="text/css", href="/css/bootstrap-flatly.min.css")
	link(rel="stylesheet", type="text/css", href="/css/main.css")

block title
	title Ticketing home

block content
	.container
		.col-md-12
			h1(style="padding-bottom:10px;") Emma May Ball - Tickets
			p(style="padding-bottom:10px;") If you are Emmanuel College Alumni, please use the alternative login. Otherwise, you can use Raven.
		.col-md-4
		.col-md-2(style="text-align:center;")
			a(href="/login/raven", class="btn btn-info", style="width:100%;") Raven login &raquo;
		.col-md-2(style="text-align:center;")
			a(href="/login/mabel", class="btn btn-primary", style="width:100%;") Alternative login &raquo;
		.col-md-4
		.col-md-12
			hr
			p To login to the admin panel, click #[a(href="/admin") here].

