//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

doctype html
html
	head
		block title
			title Mabel Ticketing
		
		block scripts
			link(rel="stylesheet", type="text/css", href="/css/main.css")
	body
		.container
			.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6
				block navigation
					nav
						a.btn.btn-default.btn-xs(href="/logout") Logout
			.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6
				hr
			.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6
				block content
			.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6
				hr
			.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6
				block footer
					p
						| If you have any other queries regarding tickets, please 
						| contact #[a(href="mailto:ticketing@emmamayball.com") ticketing@emmamayball.com]. 
						| Please allow a few days before seeing cheques confirmed on this page.