//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

block scripts
	// angular
	script(type="text/javascript", src="/lib/components/angular/angular.js")
	script(type="text/javascript" src="/lib/components/angular-cookies/angular-cookies.js")
	// bootstrapping
	script(type="text/javascript" src="/js/mabel.js")

	// shared
	script(type="text/javascript" src="/js/shared/mabel.shared.js")
	script(type="text/javascript" src="/js/shared/mabeltoken.factory.js")
	
	// bootstrap
	script(type="text/javascript", src="/lib/components/angular-bootstrap/ui-bootstrap.min.js")
	link(rel="stylesheet", type="text/css", href="/css/main.css")

block title
	title Mabel Ticketing | Registration Complete

block content
	h1 Registration Complete
	.well
		h3 
		| Thank you, #{name}. We have sent a verification email to
		| #{email}. Please click on the link contained to verify
		| your account. You will need to verify your account
		| before you can purchase tickets.
