extends ./main.jade

block scripts
	// angular
	script(type="text/javascript", src="/components/angular/angular.js")
	script(type="text/javascript" src="/components/angular-cookies/angular-cookies.js")
	// bootstrapping
	script(type="text/javascript" src="/js/mabel.js")

	// shared
	script(type="text/javascript" src="/js/shared/mabel.shared.js")
	script(type="text/javascript" src="/js/shared/mabeltoken.factory.js")
	
	// bootstrap
	script(type="text/javascript", src="/components/angular-bootstrap/ui-bootstrap.min.js")
	link(rel="stylesheet", type="text/css", href="/css/bootstrap-flatly.min.css")
	link(rel="stylesheet", type="text/css", href="/css/main.css")

block title
	title Mabel Ticketing | Registration Complete

block content
	div(ng-app="mabel.register").slide
			section.slide-content
				h1 Registration Complete
				.well
					h3 
					| Thank you, #{name}. We have sent a verification email to
					| #{email}. Please click on the link contained to verify
					| your account. You will need to verify your account
					| before you can purchase tickets.
