.box.box-primary(ng-controller="UserListController as userList")
	.box-header
		h3.box-title Users
	.box-body.table-responsive.no-padding
		table.table.table-hover(ng-table="userList.tableParams" show-filter="true" )
			tbody
				tr(ng-repeat="user in $data")
					td(data-title="' '" style="min-width:35px")
						span.badge(ng-class="{'bg-green':user._status==='success','bg-red':user._status==='error','bg-yellow':user._status==='pending'}" 
							style="color:transparent!important;") {{ ((user._status !== undefined)? ".":"") }}
					td(data-title="'ID'" sortable="'id'" filter="{'id':'text'}" style="width:70px") {{ user.id }}
					td(data-title="'Name'" sortable="'name'" filter="{'name':'text'}")
						input(type="text" ng-model="user.name")
					td(data-title="'Email'" sortable="'email'" filter="{'email':'text'}") 
						a(href='mailto:{{user.email}}') {{ user.email }}
					td(data-title="'CRSID'" sortable="'crsid'" filter="{'crsid':'text'}") {{ user.crsid }}
					td(data-title="'Registration Date'" sortable="'registration_time'" filter="{'registration_date':'text'}") {{ user.registration_time }}
					td(data-title="'Actions'")
						button Tickets