//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

.box.box-solid.box-primary(ng-controller="UserGroupsController as userGroup")
	.box-header
		h3.box-title Groups
	.box-body.table-responsive.no-padding
		mabel-table(resource="userGroup.resource", initialisor="userGroup.initialisor",  filename="'user-groups'",columns="userGroup.columns")