.box.box-solid.box-primary(ng-controller="UserListController as userList")
	.box-header
		h3.box-title Users
	.box-body.table-responsive.no-padding
		mabel-table(resource="userList.resource", initialisor="userList.initialisor", columns="userList.columns", click-event="mabel.userList.userSelected")