.box.box-solid.box-primary(ng-controller="UserGroupsController as userGroup")
	.box-header
		h3.box-title Groups
	.box-body.table-responsive.no-padding
		mabel-table(resource="userGroup.resource", initialisor="userGroup.initialisor", columns="userGroup.columns")