//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

ul.sidebar-menu
	each item in sidebarItems
		li(class=item.name===title?"active":"")
			a(href=item.link)
				i(class="fa fa-" + item.icon)
				span  #{item.name}